{% extends "app/layout.html" %}

{% block content %}
<div>
    <br />
    <br />
    <table>
        <tr><td>
    <form class="margintop" action='purchaserequisitionform' method='GET'>
        <button type="submit"  class="btnChg1">Create Purchase Requisition</button><br />
    </form>
            </td></tr>
            
        <tr><td>
    <form class="margintop" action='purchaserequisitionhistory' method='GET'>
        <button type="submit" class="btnChg2">View Purchase Requisition</button><br /><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='requestforquotationform' method='GET'>
        <button type="submit" class="btnChg1">Create Request For Quotation</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='requestforquotationhistory' method='GET'>
        <button type="submit" class="btnChg2">View Request For Quotation</button><br /><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='quotationform' method='GET'>
        <button type="submit" class="btnChg1">Record Quotation</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='quotationhistory' method='GET'>
        <button type="submit" class="btnChg2">View Quotation</button><br /><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='purchaseorderform' method='GET'>
        <button type="submit" class="btnChg1">Issue Purchase Order</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='purchaseorderhistory' method='GET'>
        <button type="submit" class="btnChg2">View Purchase Order</button><br /><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='deliveryorderform' method='GET'>
        <button type="submit" class="btnChg1">Record Delivery Order</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='deliveryorderhistory' method='GET'>
        <button type="submit" class="btnChg2">View Delivery Order</button><br /><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='invoiceform' method='GET'>
        <button type="submit" class="btnChg1">Record Invoice</button><br />
    </form>
        </td></tr>
            
        <tr><td>
    <form class="margintop" action='invoicehistory' method='GET'>
        <button type="submit" class="btnChg2">Invoice History</button><br /><br />
    </form>
        </td></tr>
            
    </table>
</div>

{% endblock %}
 